

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #750751; 
    align-items: center;
    overflow-y: hidden; /*prevent scrolling on page*/
}

h1 {
    text-align: center; /* center the text */
    font-size: 3.2rem;
    margin-top: 60px; /* add margin to the top */
    margin: 60px auto 5px auto; /* add margin to the bottom */
    padding: 5px; /* add padding */
  }
  
.first-row,
.second-row,
.third-row {
    display: flex;
    justify-content: center;
    align-content: center;
 
}

.cell {
    width: 80px;
    height: 80px;
    margin: 5px;

    padding-bottom: 6rem;
   
    border: 0.1rem solid rgb(211, 210, 210);
    border-radius: 1rem;


    box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 .7rem #bc13fe,
    inset 0 0 2.3rem #bc13fe;

    text-align: center;
    line-height: 100px;
    cursor: pointer;
    align-items: center;

 
}

.cell:hover{
    background-color: #ffffff;
    
    transition-duration: 1s;
}




#user-message {
    width: 200px;
    height: 3rem;
    margin-left: 42rem;
    margin-top: 2rem;
    
    font-size: 2rem;

    text-align: center;
    font-weight: bold;
    border: black;
}

.msg-container {
    height: 3rem;
    width: 200px;
    border: black;
   
 

}

.btn-container{
    text-align: center;
}



.fa-play{
 margin: 2rem  0 0.2rem;

}
.fa-play:hover{
    cursor: pointer;
}

.btn {
font-size: 12px;
font-weight: bolder;
width: 6rem;
   margin: 0.5rem;
   border-radius: 0.5rem;
   box-shadow: 
   0 0 .2rem #fff,
   0 0 .2rem #fff,
   0 0 3rem #bc13fe,
   0 0 0.8rem #bc13fe,
   0 0 .7rem #bc13fe,
   inset 0 0 2.3rem #bc13fe;
   
}

.btn:hover {
    background-color: rgb(223, 223, 223);
    box-shadow: 0px 5px 5px 5px white;
    transition-duration: 1s;
}


#cell-top-left-1 {
color: #bc13fe;
    
}
#cell-top-middle-2































