/*resetting the DOM rules*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/galaxy.jpg");
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Share Tech Mono', monospace;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;  /*prevent scrolling on page*/
    font-size: 18px;
}

.first-h1{
    font-size: 6.2rem;
    text-shadow: 0 0 15px #fff, 0 0 10px #fff, 0 0 18px 
    #0073e6, 0 0 8px #0073e6, 0 0 15px #0073e6, 
    0 0 15px #0073e6, 0 0 8px #0073e6;
    text-align: center;
  }

  .second-h1{
    text-align: center;
    font-size: 3.3rem;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px 
    #0073e6, 0 0 10px #0073e6, 0 0 10px #0073e6, 
    0 0 8px #0073e6, 0 0 8px #0073e6;
  }

  .tac{
    color: rgb(239, 144, 0);
    text-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 20px 
    #fff, 0 0 8px #adf406, 0 0 25px #adf406, 
    0 0 50px #adf406, 0 0 35px #adf406;

  }

.first-row,
.second-row,
.third-row {
    display: flex;
    justify-content: center;
    align-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding-bottom: 6rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem rgb(24, 188, 144),
    0 0 0.8rem rgb(24, 188, 144),
    0 0 .7rem rgb(24, 188, 144),
    inset 0 0 2.3rem rgb(24, 188, 144);
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    align-items: center;
}

.fa-play{
    margin: 2rem  0 0.3rem;
   
}
.fa-play:hover{
    cursor: pointer;
   

}
.btn-container{
    text-align: center;
}

.btn {
   font-size: 13px;
   font-weight: bolder;
   width: 6rem;
   margin: 0.5rem;
   border-radius: 0.8rem;
   box-shadow: 
   0 0 .2rem #8309b3,
   0 0 3rem #8309b3,
   0 0 0.8rem #8309b3,
   0 0 .7rem #8309b3,
   inset 0 0 2.3rem #8309b3;
   
}

.btn:hover {
    background-color: #b174c9;
    box-shadow: 0px 4px 4px 4px white;
    transition-duration: 1s;
    color: white;
}

/*.cell:hover{
    background-color: #b82727;
    
    transition-duration: 1s;
}*/
/*
  #user-message {
    width: 20%;
    background-color: #e9e9e9;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.8rem;
    position: fixed;

    display: flex;
    justify-content: center;


  }*/

  #user-message {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 5;
 
    right: 0;
    height: 7%;
    width: 20%;
    font-size: 2rem;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4rem;


    box-shadow: 0px 0px 10px #ccc;
   
margin: 1rem 5rem 1rem 5rem;
  }
  

































