*, *::after, *::before {
  box-sizing: border-box;
}

body {
    font-family: quicksand;
    margin: 0;
}

h1 {
    text-align: center; /* center the text */
    font-size: 4rem;
    margin-top: 60px; /* add margin to the top */
    margin-bottom: 10px; /* add margin to the bottom */
    padding: 5px; /* add padding */
  }
  
.first-row,
.second-row,
.third-row {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-md {
    margin-left: 8rem;
}

.cell {
    width: 80px;
    height: 80px;
    margin: 20px;
    
    
    border: 0.1rem solid rgb(211, 210, 210);
    border-radius: 1rem;

    box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 .7rem #bc13fe,
    inset 0 0 2.3rem #bc13fe;
    
    

    font-size: 80px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    align-items: center;

 
}

#user-message {
    width: 200px;
    height: 3rem;
   
    margin-left: 42rem;
    font-size: 2rem;

    text-align: center;
    font-weight: bold;
}

img {
    width: 50px;
    height: 50px;
    margin: 20px;
    color: black;

  }
  


/*Complete*/
#new-game-btn {
    width: 85px;
    height: 50px;
    margin: auto;/*centers play game button*/
    display: flex;
    align-items: center;
    
    display: block; /*centers play game button*/
    text-align: center;
    font-family: quicksand;
    font-weight: bold;
    border: 0.1rem solid rgb(211, 210, 210);
    border-radius: 1rem;
    box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 .7rem #bc13fe,
    inset 0 0 2.3rem #bc13fe;
}

#new-game-btn:hover {
    background-color: rgb(4, 224, 92);
    box-shadow: 0px 10px 20px 10px white;
    transition-duration: 1s;
}













/* Media queries for mobile */
@media only screen and (max-width: 480px) {
    .container-md {
        margin-left: 0;
    }
    
    .cell {
        width: 40px;
        height: 40px;
        margin: 5px;
        font-size: 40px;
        line-height: 60px;
    }
    

    
    .button-container {
        margin: 1rem 0.5rem 0 12.2rem;
    }
    
    #new-game-btn {
        width: 60px;
        height: 30px;
    }
}